[Unit]
Description=Phone Home Reverse SSH Service
ConditionPathExists=|/usr/bin
After=network.target

[Service]
User=nicholas
ExecStartPre=/usr/bin/ping ns2.rlgeex.me -c 1
ExecStart=/usr/bin/ssh -NTC -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -i /home/nicholas/.ssh/id_rsa -R 0.0.0.0:60022:localhost:22 nicholas@ns2.rlgeex.me

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target


